
 .divide {
    height: 100%;
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  

  .colunaEsquerda {
    left: 0;
    background-color: #004aad;
  }
  

  .colunaDireita {
    right: 0;
    background-color: white;
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

form{
    margin-top: 50%;
}


.btn{
    width: 111.16px;
    height: 38px;
    margin-left: 55.8px;
    margin-top: 3px;
    margin-bottom: 3px;
}


.loginAdm-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #004aad;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  z-index: 5; 
  width: 240px;
}

.loginAdm-btn:hover {
  background-color: #0865df;
}

